#song-form-container_div{
    margin: auto;
    top: 10vh;
    display: grid;
    height: 80vh;
    width: 80vw;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    position: relative;
}

#song-form-dynamic-creation_div{
    overflow: visible;
    width:70vw;
    height: 40vh;
    background: tomato;
    grid-row: 1/7;
    grid-column: 1/ span end;
    justify-self: center;
    align-self: center;
    border: indigo solid 1px;
}

#song-form_form {
    background: blue;
    width:70vw;
    height:30vh;
    grid-column: ;
    grid-row: 7/ 10;
    overflow: visible;

}

    #display-album_img{
        width: 10vw;
    }

.song-form-input_div{
    overflow: visible;
}

.song-form_input{

}
