.app {
    min-height: 100vh;
    width: 100%;
    background-color: #a00c0c;
    z-index: 20;
  }

.menu {
    background-color: #fff;
    border-radius: 2px;
    padding-left: 0;
    margin: 0;
    position: absolute;
    list-style: none;
  }

  .menu li {
    padding: 0.2em 1em;
    color: #000;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: #f2f2f2;
  }
