#search-container-div {
	margin: auto;
	top: 10vh;
	display: grid;
	height: 80vh;
	width: 80vw;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
	position: relative;
	overflow: hidden;
	font-family: Mukta, sans-serif;
}

#search-input {
	height: 2em;
}

#search-input-container-div {
	grid-row: 1;
	grid-column: 2;
	align-self: center;
	display: flex;
	align-items: center;
}

#search-empty-container {
	grid-row: 2;
}

#search-input-clear {
	padding: 0px 5px;
	cursor: pointer;
}
