.app {
    min-height: 100vh;
    width: 100%;
    background-color: transparent;
    /* z-index: 20; */
  }

.menu {
    background-color: #fff;
    border-radius: 2px;
    padding-left: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    z-index: 40;
  }

  .menu li {
    padding: 0.2em 1em;
    color: #000;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: #f2f2f2;
  }


  .playlist-dropdown-ul{
    transform: translate(150px, -20px);
    position: absolute;
    background-color: #fff;
    width: 100px;
    list-style-type: none;
  }
